<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Soma com Botões</title>
  <link rel="stylesheet" href="/view/style.css" />
</head>
<body>
  <h1>Soma de Números</h1>

  <div class="grupo-de-entrada">
    <input id="numero-um" type="number" value="0" />
    <input id="numero-dois" type="number" value="0" />
  </div>

  <div class="botoes">
    <button id="botao-somar">Somar</button>
    
  </div>

  <p>Resultado: <span id="resultado">0</span></p>

  <h1>Afonso, Bianca, Joyce</h1>

  <script src="/view/src/script.js"></script>
</body>
</html>